<!DOCTYPE html>
html(lang="ru")
head

	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Новая страничка
	link(href='/assets/css/app.css', rel='stylesheet')

body

	h1 Привет Мир!
	h2 Ты со мной разговариваешь?
	p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Моей одна рукопись продолжил бросил единственное семь обеспечивает ведущими, запятой пояс, осталось, реторический первую рот которое там всеми вопрос проектах взобравшись свою послушавшись силуэт они города заманивший дал. Жизни над заглавных меня за но повстречался все решила страна там снова от всех lorem имени необходимыми текст ipsum домах пустился, океана коварных даль! Большой ручеек речью приставка рыбного подпоясал одна грустный толку lorem, маленький снова буквенных, города дал необходимыми страну заголовок переписывается.
	h1 Отлично все работает!


	script(src='/assets/js/app.js')
	